# Configuración de Base de Datos
DATABASE_URL="file:./dev.db"

# Ciberseguridad (Genera una clave segura para producción)
JWT_SECRET="ejemplo_de_clave_secreta_muy_larga_y_segura"

# Configuración de Servidor de Correos (Nodemailer / Mailtrap)
SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER="tu_usuario_de_mailtrap_aqui"
SMTP_PASS="tu_contraseña_de_mailtrap_aqui"

# Puerto de Ejecución de la API
PORT=4000
