# Dependencias
node_modules
.pnpm-store/

#Vscode Settings
.vscode

# variables de entorno
.env
.env.local

/generated/prisma

# BASE DE DATOS
dev.db
dev.db-journal

#BASES DE DATOS DE PRUEBAS
test.db
test.db-journal

# Carpetas de compilación o producción
dist/
.next/

# Cobertura de pruebas (Vitest / Jest)
coverage/